In [18]:
#log20030401
import pandas as pd
 
# Load the data into a DataFrame
data = pandas.read_csv('log20030401.csv')
 
data.head(n=10)

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
0,65.86.195.dgd,2003-04-01,00:00:00,500.0,1076608.0,0001076608-03-000001,.txt,200.0,27855.0,0.0,1.0,0.0,0.0,1.0,NaN
1,162.90.2.edf,2003-04-01,00:00:02,500.0,1200446.0,0000950137-03-000820,-index.htm,304.0,NaN,1.0,0.0,0.0,1.0,0.0,win
2,202.3.72.cfi,2003-04-01,00:00:03,500.0,109312.0,0000950131-99-001356,.txt,200.0,85034.0,0.0,0.0,0.0,4.0,0.0,win
3,65.86.195.dgd,2003-04-01,00:00:03,500.0,1076700.0,0000946790-03-000012,.txt,200.0,38780.0,0.0,1.0,0.0,0.0,1.0,NaN
4,65.86.195.dgd,2003-04-01,00:00:05,500.0,1076886.0,0001056520-03-000014,.txt,200.0,39917.0,0.0,1.0,0.0,0.0,1.0,NaN
5,150.135.162.geh,2003-04-01,00:00:06,500.0,860730.0,0000950144-03-004080,-index.htm,200.0,4384.0,1.0,0.0,0.0,1.0,0.0,win
6,24.188.194.cga,2003-04-01,00:00:06,500.0,867493.0,0001198734-03-000006,mcgillf4_03312003.txt,200.0,11764.0,0.0,1.0,0.0,0.0,0.0,NaN
7,209.10.219.hgh,2003-04-01,00:00:09,500.0,821189.0,0000950129-01-001762,-index.htm,200.0,2352.0,1.0,0.0,0.0,4.0,0.0,win
8,65.86.195.dgd,2003-04-01,00:00:10,500.0,1076983.0,0000933691-03-000067,.txt,200.0,6307.0,0.0,1.0,0.0,0.0,1.0,NaN
9,209.10.219.hgh,2003-04-01,00:00:11,500.0,821189.0,0000950129-01-001762,h83139rdefr14a.txt,200.0,130844.0,0.0,0.0,0.0,9.0,0.0,win

In [ ]:
#grouping by IP
byIp = data.groupby('ip')
byIp

In [ ]:
byCIK = data.groupby('cik')
byCIK['size'].max()

In [ ]:
#getting requests with  status code 404
byIp404=data[data['code']==404]
byIp404
#Anamoly-request with 404 has a download size associated.

In [ ]:
byIp404=data[data['code']==404].groupby('ip')
byIp404['size'].mean()

In [ ]:
#1. Simple describe function on data
summary = data.describe()
summary
#Analysis: total number of requests on this day-  261289
#Average request per day :215
#Max file download size:5.259544e+07
#Avergae File donwload size:	1.703470e+05

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from numpy import genfromtxt
from scipy.stats import multivariate_normal
from sklearn.metrics import f1_score

In [ ]:
def read_dataset(filePath,delimiter=','):
    return pandas.read_csv(filePath)

def feature_normalize(dataset):
    mu = np.mean(dataset,axis=0)
    sigma = np.std(dataset,axis=0)
    return (dataset - mu)/sigma

def estimateGaussian(dataset):
    mu = np.mean(dataset, axis=0)
    sigma = np.cov(dataset.T)
    return mu, sigma
    
def multivariateGaussian(dataset,mu,sigma):
    p = multivariate_normal(mean=mu, cov=sigma)
    return p.pdf(dataset)

def selectThresholdByCV(probs,gt):
    best_epsilon = 0
    best_f1 = 0
    f = 0
    stepsize = (max(probs) - min(probs)) / 1000;
    epsilons = np.arange(min(probs),max(probs),stepsize)
    for epsilon in np.nditer(epsilons):
        predictions = (probs < epsilon)
        f = f1_score(gt, predictions, average = "binary")
        if f > best_f1:
            best_f1 = f
            best_epsilon = epsilon
    return best_f1, best_epsilon

In [ ]:
tr_data = read_dataset('log20030401.csv') 
tr_data.head()

In [ ]:
n_training_samples = tr_data['size'].shape[0]
n_training_samples
n_dim = tr_data['code'].shape[1]
n_dim

In [ ]:

plt.figure()
plt.xlabel("Latency (ms)")
plt.ylabel("Throughput (mb/s)")
plt.plot(tr_data[:,0],tr_data[:,1],"bx")
plt.show()

In [37]:
dataCIK = pandas.read_csv('CIK-mapping.csv')
 
dataCIK.head(n=10)
dataCIK.dtypes
dataCIK['CIK']
dataCIK['CIK'].astype(np.float64)

0         1438823.0
1         1509607.0
2         1457512.0
3         1433777.0
4         1427189.0
5         1447162.0
6         1479357.0
7          886475.0
8         1599496.0
9         1623088.0
10        1577787.0
11        1402606.0
12        1409768.0
13        1494698.0
14        1307969.0
15         141408.0
16        1322914.0
17        1114831.0
18        1398981.0
19        1406134.0
20        1395687.0
21        1398457.0
22        1402813.0
23        1398456.0
24        1394816.0
25        1395686.0
26         139902.0
27        1398982.0
28        1394815.0
29        1406031.0
            ...
650995    1674166.0
650996    1678008.0
650997    1584115.0
650998    1689459.0
650999    1138409.0
651000    1558263.0
651001    1132581.0
651002     155874.0
651003    1505145.0
651004    1412002.0
651005    1443679.0
651006    1380832.0
651007    1376034.0
651008    1676502.0
651009     912092.0
651010    1406796.0
651011    1696231.0
651012    1317728.0
651013    1629078.0
651014    1629122.0
651015    1629075.0
651016    1439203.0
651017      12309.0
651018    1657236.0
651019    1383819.0
651020     150146.0
651021    1448632.0
651022    1365357.0
651023    1691924.0
651024    1184274.0
Name: CIK, dtype: float64

In [41]:
mergedDf=pd.merge(dataCIK, data, left_on='CIK', right_on='cik')

In [27]:
data.head()

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
0,65.86.195.dgd,2003-04-01,00:00:00,500.0,1076608.0,0001076608-03-000001,.txt,200.0,27855.0,0.0,1.0,0.0,0.0,1.0,NaN
1,162.90.2.edf,2003-04-01,00:00:02,500.0,1200446.0,0000950137-03-000820,-index.htm,304.0,NaN,1.0,0.0,0.0,1.0,0.0,win
2,202.3.72.cfi,2003-04-01,00:00:03,500.0,109312.0,0000950131-99-001356,.txt,200.0,85034.0,0.0,0.0,0.0,4.0,0.0,win
3,65.86.195.dgd,2003-04-01,00:00:03,500.0,1076700.0,0000946790-03-000012,.txt,200.0,38780.0,0.0,1.0,0.0,0.0,1.0,NaN
4,65.86.195.dgd,2003-04-01,00:00:05,500.0,1076886.0,0001056520-03-000014,.txt,200.0,39917.0,0.0,1.0,0.0,0.0,1.0,NaN

In [28]:
data.dtypes

ip            object
date          object
time          object
zone         float64
cik          float64
accession     object
extention     object
code         float64
size         float64
idx          float64
norefer      float64
noagent      float64
find         float64
crawler      float64
browser       object
dtype: object

In [45]:
byIp=mergedDf.groupby('ip')
byIp['company'].describe()

ip
12.1.241.bgd   count                                     22
               unique                                     2
               top                 SPECTRASITE HOLDINGS INC
               freq                                      11
12.1.96.fih    count                                      2
               unique                                     2
               top                  PLASTIPAK PACKAGING INC
               freq                                       1
12.10.123.fed  count                                      1
               unique                                     1
               top                        DT INDUSTRIES INC
               freq                                       1
12.10.127.bge  count                                      4
               unique                                     2
               top                       SCOTSMAN GROUP INC
               freq                                       2
12.10.13.bbb   count                                     20
               unique                                    10
               top                      BROOKE CAPITAL CORP
               freq                                       2
12.10.17.dfh   count                                      8
               unique                                     5
               top                US XPRESS ENTERPRISES INC
               freq                                       4
12.10.17.fdf   count                                     65
               unique                                    16
               top       FROZEN FOOD EXPRESS INDUSTRIES INC
               freq                                       9
12.10.219.abf  count                                     14
               unique                                     6
                                        ...
81.80.243.ide  top                    RAVENSWOOD WINERY INC
               freq                                       1
81.80.30.djb   count                                      2
               unique                                     2
               top                                 DELL INC
               freq                                       1
81.80.37.fhg   count                                      1
               unique                                     1
               top                              DRESSER INC
               freq                                       1
81.80.37.hbc   count                                      1
               unique                                     1
               top                              DRESSER INC
               freq                                       1
81.86.12.igg   count                                      4
               unique                                     4
               top                              CORSPAN INC
               freq                                       1
81.86.244.ejd  count                                      5
               unique                                     2
               top          PATH 1 NETWORK TECHNOLOGIES INC
               freq                                       4
82.32.20.geh   count                                      2
               unique                                     2
               top                  TRIKON TECHNOLOGIES INC
               freq                                       1
82.43.80.ehd   count                                      4
               unique                                     2
               top                ACTRADE INTERNATIONAL LTD
               freq                                       2
Name: company, dtype: object

In [ ]:
mergedDf.groupby('company').describe()